<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godoogle</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <h1>Godoogle</h1>
</header>
<form action="#" method="get">
    <input type="text" name="q" placeholder="输入搜索内容...">
    <input type="submit" value="搜索">
</form>

<p>Godoogle is a <a HREF="https://go.dev/" target="_blank">Go</a> API search engine, which allows you to search
    by approximate <strong>function type signature</strong>, including <a
            href="https://go.dev/doc/tutorial/generics" target="_blank"><strong>generic</strong></a> functions.</p>

<h2>Examples</h2>
<ul>
    <li><a href="/search?q=func(string) (int, error)"><code>func(string) (int, error)</code></a></li>
    <li><a href="/search?q=func(string) int"><code>func(string) int</code></a></li>
    <li><a href="/search?q=[a comparable] func(...a) a"><code>[a comparable] func(...a) a</code></a></li>
    <li><a href="/search?q=func ([]string, string) string"><code>func ([]string, string) string</code></a></li>
    <li><a href="/search?q=func(strs []string, sep string) string"><code>func(strs []string, sep string)
        string</code></a>
    </li>
    <li><a href="/search?q=[T any] func(bool, T, T) T"><code>[T any] func(bool, T, T) T</code></a></li>
    <li><a href="/search?q=[T any] func(bool, func() T, func() T) T"><code>[T any] func(bool, func() T, func() T)
        T</code></a></li>
    <li><a href="/search?q=[a,b any] func([]a, func(a, int) b) []b"><code>[a,b any] func([]a, func(a, int) b) []b</code></a>
    </li>
    <!--    regress in new samber/lo version: -->
    <!--    https://pkg.go.dev/github.com/samber/lo#Chunk -->
    <!--    func Chunk[T any, Slice ~[]T](collection Slice, size int) []Slice -->
    <!--    <li><a href="/search?q=[T any] func(a []T, size int) [][]T"><code>[T any] func(a []T, size int) [][]T</code></a>-->
    <!--    </li>-->
    <li><a href="/search?q=[T any] func (f func() T) <-chan T"><code>[T any] func (f func() T) <-chan T</code></a>
    </li>
</ul>

</body>
</html>