<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Godoogle</title>
</head>

<!-- Google Analytics - Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G1MQM4YKD4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-G1MQM4YKD4');
</script>

<body>
<header>
    <h1><a href="/">Godoogle</a></h1>
</header>

<form action="/search" method="get">
    <input type="text" name="q" value="{{.q}}"
           placeholder="Type here, or click Examples ^_^">
    <input type="submit" value="Search">
</form>


{{ if .error }}
<p class="cen">{{.error}}</p>
<p class="cen">Request ID: {{.request_id}}</p>
<hr>
{{ template "welcome_example" . }}

{{ else if .result}}
<ol class="cen">
    {{ range .result }}

    <li>
        <a href="{{.URL}}" target="_blank"><code>{{.FullName}}</code></a><code> ::
        {{.Signature}}</code>
    </li>
    {{ end }}
</ol>
{{ else }}
{{ template "welcome_example" . }}
{{ end }}


<hr>
<footer class="cen">
    <p>Godoogle v0.1.0 2024-09-17</p>
    <p>Like Godoogle? Report bugs, request features, discuss anything? ⭐^_^⭐→ <a
            href="https://github.com/SnowOnion/godoogle">https://github.com/SnowOnion/godoogle</a>
    </p>
    <p>Dev plan: smarter, wider (cover pkg.go.dev? & self-hosted), faster.</p>
    <p>Godoogle means “<a href="https://hoogle.haskell.org/" target="_blank">Hoogle</a> for Go (Godoc, Golang)”, whilst
        Hoogle means
        “Google for <a
                href="https://www.haskell.org/" target="_blank">Haskell</a>”.</p>
</footer>

</body>
</html>